<div class="popular-app-img-container">
  <div class="popular-app-img">
    <!--<img src="http://taomexico.com/newLP/images/community-img2.jpg" style="height: 60px"/>-->
    <span class="logo-text" translate>{{community}}</span>
  </div>
</div>


<div class="responsive-list">




  <div class="popular-app-info row">

    <div class="col-4 text-left" >
      <div class="info-label" >Swimming Pool</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.Pool" >Available</div>
      <div class="info-label" *ngIf="!communityData.Pool" >Unavailable</div>

    </div>
  </div>

  <div class="popular-app-info row">
    <div class="col-4 text-left" >
      <div class="info-label" >Spa</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.Spa" >Available</div>
      <div class="info-label" *ngIf="!communityData.Spa" >Unavailable</div>

    </div>
  </div>

  <div class="popular-app-info row">
    <div class="col-4 text-left" >
      <div class="info-label" >Fitness Center</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.FitnessCenter" >Available</div>
      <div class="info-label" *ngIf="!communityData.FitnessCenter" >Unavailable</div>

    </div>
  </div>

  <div class="popular-app-info row">
    <div class="col-4 text-left" >
      <div class="info-label" >Media Room</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.MediaRoom" >Available</div>
      <div class="info-label" *ngIf="!communityData.MediaRoom" >Unavailable</div>

    </div>
  </div>

  <div class="popular-app-info row">
    <div class="col-4 text-left" >
      <div class="info-label" >Playground</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.Playground" >Available</div>
      <div class="info-label" *ngIf="!communityData.Playground" >Unavailable</div>

    </div>
  </div>

  <div class="popular-app-info row">
    <div class="col-4 text-left" >
      <div class="info-label" >Party Room</div>
    </div>
    <div class="col-4 text-center" >
      <div class="info-label" *ngIf="communityData.PartyRoom" >Available</div>
      <div class="info-label" *ngIf="!communityData.PartyRoom" >Unavailable</div>

    </div>
  </div>


</div>


  <!--<div class="popular-app-cost row">
    <div class="col-9" translate>{{'dashboard.popular_app.most_popular_app'}}</div>
    <div class="col-3 text-right">
      {{tenant}}
    </div>
  </div>

  <div class="responsive-list">
    <div *ngFor="let item of communityData" class="tenant-list-item">

      <div class="col-4 text-left">
        <div class="info-label" translate>{{'dashboard.popular_app.total_visits'}}</div>
        <div><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQqZu7XwvBTNya__wtdQ-g8ikFF00stWHZetLnMSszEmW5uBAlC" class="popular-img"/></div>
      </div>

    </div>
  </div>
  <div class="popular-app-info row">
    <div class="col-4 text-left" *ngIf="communityData.Pool">
      <div class="info-label" translate>{{'dashboard.popular_app.total_visits'}}</div>
      <div><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQqZu7XwvBTNya__wtdQ-g8ikFF00stWHZetLnMSszEmW5uBAlC" class="popular-img"/></div>
    </div>
    <div class="col-4 text-center" *ngIf="!communityData.Pool">
      <div class="info-label" translate>{{'dashboard.popular_app.total_visits'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img" /></div>
    </div>


    <div class="col-4 text-center" *ngIf="communityData.Spa">
      <div class="info-label" translate>{{'dashboard.popular_app.new_visits'}}</div>
      <div><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQgcy3Mte6mr0sBCUfRzwIa3aDBQmfMBsHK-qxYGrk0h3BKHVDDXg" class="popular-img" /></div>
    </div>
    <div class="col-4 text-center" *ngIf="!communityData.Spa">
      <div class="info-label" translate>{{'dashboard.popular_app.new_visits'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img" /></div>
    </div>


    <div class="col-4 text-right" *ngIf="communityData.FitnessCenter">
      <div class="info-label" translate>{{'dashboard.popular_app.sales'}}</div>
      <div><img src="https://www.slt-leisure.co.uk/upload/635048014540156250.jpg" class="popular-img"/></div>
    </div>
    <div class="col-4 text-right" *ngIf="!communityData.FitnessCenter">
      <div class="info-label" translate>{{'dashboard.popular_app.sales'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img"/></div>
    </div>


  </div>
  <div class="popular-app-info row">

    <div class="col-4 text-left" *ngIf="communityData.MediaRoom">
    <div class="info-label" translate>{{'dashboard.popular_app.club_house'}}</div>
    <div><img src="https://static1.squarespace.com/static/54a22ffee4b0894648d545b0/54debc87e4b0549c366caac7/54fac204e4b0e18a10a007bd/1425719813734/CM_club_house_2.jpg?format=1000w" class="popular-img"/></div>
  </div>
    <div class="col-4 text-left" *ngIf="!communityData.MediaRoom">
      <div class="info-label" translate>{{'dashboard.popular_app.club_house'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img"/></div>
    </div>


    <div class="col-4 text-center"  *ngIf="communityData.Playground">
      <div class="info-label" translate>{{'dashboard.popular_app.play_area'}}</div>
      <div><img src="https://media-cdn.tripadvisor.com/media/photo-s/01/76/91/e6/play-area.jpg" class="popular-img"/></div>
    </div>
    <div class="col-4 text-center"  *ngIf="!communityData.Playground">
      <div class="info-label" translate>{{'dashboard.popular_app.play_area'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img"/></div>
    </div>


    <div class="col-4 text-right" *ngIf="communityData.PartyRoom">
      <div class="info-label" translate>{{'dashboard.popular_app.play_ground'}}</div>
      <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOJNDodvirLfycX-yd4EaZQh_QcmjPBwAZ22ONcX1FUilt11V4" class="popular-img"/></div>
    </div>
    <div class="col-4 text-right" *ngIf="!communityData.PartyRoom">
      <div class="info-label" translate>{{'dashboard.popular_app.play_ground'}}</div>
      <div><img src="http://www.globalyceum.com/assets/notavailable.jpg" class="popular-img"/></div>
    </div>


  </div>
  -->
