
<div class="row ">


  <div class="col-sm-9">


  </div>
  <div class="col-sm-1">
    <!--<h4>HOME</h4>-->

  </div>
  <div class="col-sm-1">
    <!--<h4>ABOUT</h4>-->

  </div>
  <div class="col-sm-1">
    <h4> <a class="btn btn-info btn-home-login" *ngIf="!authService.authenticated()" style="height: 30px;color: white" (click)="authService.login()"><h4>LOG IN</h4></a></h4>
    <h4> <a class="btn btn-info btn-home-login" *ngIf="authService.authenticated()" style="height: 30px;color: white"  (click)="authService.logout()"><h4>LOG OUT</h4></a></h4>
  </div>

</div>
<div class="auth-main">

  <div class="auth-block" *ngIf="tenantAccess==false">


    <h2 *ngIf="!setBoolean"> 
     
      
   <div class="container ">
      <h1>Start Adding Your Community Now</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
    <a routerLink="/addCommunity" class="auth-link" >

<button class="btn btn-primary btn-raised" type="button">Click Here after selecting your Community</button>


    </a></h2>

    <h2  *ngIf="setBoolean" > <a routerLink="/pages" class="auth-link"  > View Your Community </a>
     
   <div class="container ">
      <h1>Click to Add More Communities(Paid Feature)</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>

  </h2>

  <div class="auth-block" *ngIf="tenantAccess==true">

    <h1 >!!! Welcome !!!</h1>


      <div class="row">
        <a class="auth-link" style="color: black">Click here to &nbsp;</a>
      <a  routerLink="/tenantPayment" class="auth-link" >View Tenant Expenses /&nbsp;</a>
      <a style="color: #b32d00" routerLink="/communityExpenses" class="auth-link" >Community Expenses </a>
    </div>



  </div>


</div>
