<!--<div class="widgets">

  <div class="row">
    <ba-card  baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>

</div>-->
<div class="row ">


  <div class="col-sm-9">


  </div>
  <div class="col-sm-1">
    <!--<h4>HOME</h4>-->

  </div>
  <div class="col-sm-1">
    <!--<h4>ABOUT</h4>-->

  </div>
  <div class="col-sm-1">
    <h4> <a class="btn btn-info" *ngIf="!authService.authenticated()" style="height: 30px" (click)="authService.login()"><h4>LOG IN</h4></a></h4>
    <h4> <a class="btn btn-info" *ngIf="authService.authenticated()" style="height: 30px" (click)="authService.logout()"><h4>LOG OUT</h4></a></h4>
  </div>

</div>
<ba-card  baCardClass="with-scroll table-panel xmedium-card">


  <label>Select Month </label>
  <select [(ngModel)]="selectedMonth" (ngModelChange)="onChangeMonth($event)" >
    <option *ngFor="let c of month" [ngValue]="c"> {{c.name}} </option>
  </select>
<br><br>
  <h4 style="margin-left: 10%" *ngIf="!setBoolean">No Community Expenses activity Found </h4>

  <div *ngIf="setBoolean">
    <h2 style="text-align: center">Community Expenses Record</h2><br>
  <div class="vertical-scroll" >
  <table class="table table-striped responsive-table" style="text-align:center;">
    <thead>
    <tr>
      <!-- <th class="table-id">#</th> -->
      <th><h4>Month/Year</h4></th>
      <th><h4>Expense Type</h4></th>
      <th><h4>Expense Description</h4></th>
      <th><h4>Vendor Name</h4></th>
      <th><h4>Amount Paid</h4></th>

    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of communityExpenses">
      <tr *ngIf="isCurrentYear(item.myDate.date.year)">
        <!-- <td class="table-id">{{ item.id }}</td> -->
        <td style="text-align:center;">{{ item.myDate.jsdate | date}}</td>
        <td style="text-align:center;">{{ item.expensesType }}</td>
        <td style="text-align:center;">{{ item.community_Expenses_Description}}</td>
        <td style="text-align:center;">{{ item.vendorName }}</td>
        <td style="text-align:center;">{{ item.amountPaid}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="responsive-list">
    <div *ngFor="let item of communityExpenses" class="tenant-list-item">
      <p>
        <br><b>Month/Year : </b>{{ item.myDate.jsdate | date}}
        <br><b>Expense Type : </b>{{ item.expensesType }}
        <br><b>Expense Description : </b>{{ item.community_Expenses_Description}}
        <br><b>Vendor Name : </b>{{ item.vendorName }}
        <br><b>Amount Paid : </b>{{ item.amountPaid}}
      </p>
    </div>
  </div>
</div>
    <br><br>
    <a class="btn btn-info" href="/direct" style="height: 30px" ><h4>Back</h4></a>
  </div>
</ba-card>
