<div class="feed-messages-container">
  <h4 style="margin-left: 10%" *ngIf="!setBoolean">No Tenant Payment activity Found</h4>
  <div *ngIf="setBoolean">

  <div   class="feed-message" *ngFor="let message of ExpensesTenantList" (click)="expandMessage(message)">

    <div class="message-icon" *ngIf="message.type != 'text-message'">
      <img class="img-area" src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/user-512.png" alt="Description" width="45" height="45" style="float: left;margin-left: 20px;margin-bottom: 10px;margin-top: 5px"/>
      <span class="sub-photo-icon" [ngClass]="message.type"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.TenantName }}</span>
      </div>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.header }} </span>Paid $ {{ message.amountPaid }}
      </div>
      <div class="preview" [ngClass]="{'hidden': !message.expanded}" *ngIf="message.preview">
        <a href="{{ message.link }}" target="_blank">
          <img src="{{ ( message.preview | baAppPicture )}}">
        </a>
      </div>
      <div  class="message-time">
        <div class="post-time">

        </div>
        <div class="ago-time">
          {{ message.date | amTimeAgo }}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
