
<div class="col-md-8" >
  <div class="colorChange">



    <ba-card  baCardClass="with-scroll">

      <form [formGroup]="tenantPaymentForm" (submit)="saveTenant()">



        <label>Select Date </label>
        <fieldset class="date">

          <label for="month">Month</label>
          <select id="month"
                  name="month" formControlName="month">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select> -
          <label for="day">Day</label>
          <select id="day"
                  name="day" formControlName="day">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
          </select> -
          <label for="year">Year</label>
          <select id="year"
                  name="year"formControlName="year" >
            <option>2017</option>
            <option>2018</option>
          </select>
          <span class="inst">(Month-Day-Year)</span>
        </fieldset>
        <control-messages [control]="tenantPaymentForm.controls.month"></control-messages>

        <div class="form-group">
          <label for="exampleSelect1">Expense Type</label>
          <select class="form-control" id="exampleSelect1" formControlName="expensesType">
            <option name="Landscaping" >Landscaping</option>
            <option name="Swimming Pool" >Swimming Pool</option>
            <option name="Gym" >Gym</option>
            <option name="Club House" >Club House</option>
            <option name="Office" >Office</option>
            <option name="Others">Others</option>
          </select>
          <control-messages [control]="tenantPaymentForm.controls.expensesType"></control-messages>
        </div>

        <div class="form-group">
          <label name="firstName">Expense Description</label>
          <textarea rows="4" cols="50" class="input-md textinput textInput form-control" formControlName="community_Expenses_Description" id="id_number" name="community_Expenses_Description" placeholder="Enter the expense description" style="margin-bottom: 10px"
                    type="text" ></textarea>
          <control-messages [control]="tenantPaymentForm.controls.community_Expenses_Description"></control-messages>
        </div>



        <div class="form-group">
          <label name="firstName">Please provide Vendor Name</label>
          <input  class="form-control" name="vendorName" placeholder="Vendor name"  id="vendorName" formControlName="vendorName">
          <control-messages [control]="tenantPaymentForm.controls.vendorName"></control-messages>
        </div>

        <div class="form-group">
          <label name="firstName">Amount paid</label>
          <input  class="form-control" id="amountPaid" placeholder="Amount paid" name="amountPaid"  formControlName="amountPaid">
          <control-messages [control]="tenantPaymentForm.controls.amountPaid"></control-messages>
        </div>



        <button type="submit" [disabled]="!tenantPaymentForm.valid">Submit</button>
      </form>

    </ba-card>

  </div>
</div>

