<!--<div class="widgets">

  <div class="row">
    <ba-card  baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>

</div>
-->
<div class="row ">


  <div class="col-sm-9">


  </div>
  <div class="col-sm-1">
    <!--<h4>HOME</h4>-->

  </div>
  <div class="col-sm-1">
    <!--<h4>ABOUT</h4>-->

  </div>
  <div class="col-sm-1">
    <h4> <a class="btn btn-info" *ngIf="!authService.authenticated()" style="height: 30px" (click)="authService.login()"><h4>LOG IN</h4></a></h4>
    <h4> <a class="btn btn-info" *ngIf="authService.authenticated()" style="height: 30px" (click)="authService.logout()"><h4>LOG OUT</h4></a></h4>
  </div>

</div>
<ba-card  baCardClass="with-scroll table-panel xmedium-card">

  <br><br><br>

  <div class="vertical-scroll">



    <div *ngIf="setb">
      <label>Select Month </label>
      <select [(ngModel)]="selectedMonth" (ngModelChange)="onChangeMonth($event)" >
        <option *ngFor="let c of month" [ngValue]="c" [selected]="c===0"> {{c.name}}  </option>
      </select><br>
      <h2 style="text-align: center">Tenant Payment Record</h2><br>
      <table class="table table-striped responsive-table">
        <thead>
        <tr>
          <!-- <th class="table-id">#</th> -->
          <th><h4>Month/Year</h4></th>

          <th><h4>Amount Paid</h4></th>

        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of ExpensesTenantList">
          <tr>
            <!-- <td class="table-id">{{ item.id }}</td> -->
            <td >{{ item.month}}&nbsp;-&nbsp;{{ item.year}}</td>

            <td>${{ item.amountPaid }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <br><br>
      <a class="btn btn-info" href="/direct" style="height: 30px" ><h4>Back</h4></a>
    </div>
    <div *ngIf="!setb">
    <h1 style="text-align: center">No Tenant expenses activity recorded</h1>
    </div>
  </div>

</ba-card>
