<!--<div class="widgets">

  <div class="row">
    <ba-card  baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>

</div>
-->
<ba-card  baCardClass="with-scroll table-panel xmedium-card">
  <div class="vertical-scroll">

    <label>Select Month </label>
    <select [(ngModel)]="selectedMonth" (ngModelChange)="onChangeMonth($event)" >
      <option *ngFor="let c of month" [ngValue]="c" [selected]="c===0"> {{c.name}}  </option>
    </select>
    <br><br>
    <h4 style="margin-left: 10%" *ngIf="!setBoolean">No Tenant Payment activity for Found for this Month</h4>

    <div *ngIf="setBoolean">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="table-id">#</th>
          <th><h4>Month/Year</h4></th>
          <th><h4>Tenant Name</h4></th>
          <th><h4>Amount Paid</h4></th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of ExpensesTenantList">
          <td class="table-id">{{ item.id }}</td>
        <td>{{ item.date | date}}&nbsp; &nbsp;</td>
          <td>{{ item.TenantName }}</td>
          <td>{{ item.amountPaid }}</td>

        </tr>
        </tbody>
      </table>
    </div>


  </div>

</ba-card>
