<div class="event-add-panel" *ngIf="addEventForm.isShowed">
  <div class="main-panel">
      <ba-card  baCardClass="with-scroll">
          <div class="colorChange" style="padding:20px;padding-bottom:0px !important;">
            <h4 style="margin-bottom:20px;">Add Event</h4>
            <div class="form-group">
              <label for="eventTitle">Event Title</label>
              <input class="form-control" type="text" name="eventTitle" id="eventTitle" placeholder="Event Title" value="">
            </div>
            <div class="form-group">
              <label for="eventStartDate">Event Start Date</label>
              <fieldset name="eventStartDate">
                <select id="month" name="month">
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select> -
                <select id="day" name="day">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select> -
                <select id="year" name="year">
                  <option>2017</option>
                  <option>2018</option>
                </select>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="eventEndDate">Event End Date</label>
              <fieldset name="eventEndDate">
                <select id="month" name="month">
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select> -
                <select id="day" name="day">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select> -
                <select id="year" name="year">
                  <option>2017</option>
                  <option>2018</option>
                </select>
              </fieldset>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleSelect1">Select the Tenant</label>
                  <select  class="form-control" id="exampleSelect1">
                    <!-- <option *ngFor="let title of tenants" [value]="title._id" >
                      {{title.firstName}}&nbsp;{{title.lastName}}
                    </option> -->
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect2">Select the Amenity</label>
                  <select class="form-control" id="exampleSelect2">
                    <option name="Landscaping" >Landscaping</option>
                    <option name="Swimming Pool" >Swimming Pool</option>
                    <option name="Gym" >Gym</option>
                    <option name="Club House" >Club House</option>
                    <option name="Office" >Office</option>
                    <option name="Others">Others</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="eventDescription">Event Description</label>
                  <textarea class="form-control" rows="4" placeholder="Event Description"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="form-button" type="button">Submit</button>
              <button class="form-button" type="button" (click)="_onCloseAddEvent()">Close</button>
            </div>
          </div>
      </ba-card>
  </div>
</div>
<ba-full-calendar [baFullCalendarConfiguration]="calendarConfiguration" baFullCalendarClass="blurCalendar" (onCalendarReady)="onCalendarReady($event)"></ba-full-calendar>
